In [1]:
import os
from pathlib import Path

from hydra import initialize_config_dir, compose

with initialize_config_dir(version_base=None, config_dir=str(Path(os.get_exec_path()[0]).parent.parent / 'config')):

    cfg=compose(overrides= ["+models=model_1"])
    cfg = cfg['models']

    LOAD_DATA_PATH = cfg['load']['LOAD_DATA_PATH']
    LOAD_DATA_FILE = cfg['load']['LOAD_DATA_FILE']

In [2]:
from datetime import datetime
import yfinance as yf

today = datetime.today().strftime('%Y-%m-%d')
data = yf.download(tickers='BTC-USD', start="2018-01-02", end=today)

[*********************100%%**********************]  1 of 1 completed

In [3]:
data.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,16846600192
2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,16871900160
2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,21783199744
2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,23840899072
2018-01-06,17462.099609,17712.400391,16764.599609,17527.000000,17527.000000,18314600448
2018-01-07,17527.300781,17579.599609,16087.700195,16477.599609,16477.599609,15866000384
2018-01-08,16476.199219,16537.900391,14208.200195,15170.099609,15170.099609,18413899776
2018-01-09,15123.700195,15497.500000,14424.000000,14595.400391,14595.400391,16659999744
2018-01-10,14588.500000,14973.299805,13691.200195,14973.299805,14973.299805,18500800512
2018-01-11,14968.200195,15018.799805,13105.900391,13405.799805,13405.799805,16534099968

In [4]:
data.tail(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-17,58893.531250,59694.667969,58814.832031,59478.972656,59478.972656,13589684021
2024-08-18,59468.132812,60262.718750,58445.402344,58483.964844,58483.964844,17740625837
2024-08-19,58480.710938,59612.660156,57864.710938,59493.453125,59493.453125,25911207712
2024-08-20,59493.453125,61396.328125,58610.882812,59012.792969,59012.792969,31613400008
2024-08-21,59014.988281,61834.351562,58823.445312,61175.191406,61175.191406,32731154072
2024-08-22,61168.316406,61408.109375,59815.253906,60381.914062,60381.914062,27625734377
2024-08-23,60380.953125,64947.062500,60372.050781,64094.355469,64094.355469,42530509233
2024-08-24,64103.871094,64513.789062,63619.917969,64178.992188,64178.992188,21430585163
2024-08-25,64176.367188,64996.421875,63833.519531,64333.542969,64333.542969,18827683555
2024-08-26,64342.226562,64489.707031,62849.558594,62880.660156,62880.660156,27682040631

In [5]:
print('Summary Statistics:')
print(data.describe())

Summary Statistics:
               Open          High           Low         Close     Adj Close  \
count   2429.000000   2429.000000   2429.000000   2429.000000   2429.000000
mean   25514.213592  26084.796125  24902.287108  25532.858680  25532.858680
std    19216.564425  19655.121486  18735.881681  19227.716638  19227.716638
min     3236.274658   3275.377930   3191.303467   3236.761719   3236.761719
25%     8794.389648   8958.469727   8597.308594   8801.038086   8801.038086
50%    20225.353516  20683.822266  19823.511719  20260.019531  20260.019531
75%    39664.250000  40617.585938  38652.593750  39698.371094  39698.371094
max    73079.375000  73750.070312  71334.093750  73083.500000  73083.500000

             Volume
count  2.429000e+03
mean   2.584797e+10
std    1.843842e+10
min    2.923670e+09
25%    1.342527e+10
50%    2.327626e+10
75%    3.439874e+10
max    3.509679e+11

In [6]:
print('Data Types:', data.dtypes)

Data Types: Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [7]:
import pyarrow as pa
import pyarrow.parquet as pq

p_data = pa.Table.from_pandas(data)
pq.write_table(p_data, Path(LOAD_DATA_PATH) / LOAD_DATA_FILE)