In [1]:
# %pip install pandas_datareader

In [2]:
# %pip install yfinance

In [3]:
# %pip install pyarrow

In [4]:
from dotenv import load_dotenv
load_dotenv()

import yfinance as yf
import pandas as pd
import numpy as np

import pyarrow as pa
import pyarrow.parquet as pq
from pathlib import Path

from datetime import datetime

import os

LOAD_DATA_PATH = os.environ.get("MODEL_1_LOAD_DATA_PATH")
LOAD_DATA_FILE = os.environ.get("MODEL_1_LOAD_DATA_FILE")

print('LOAD_DATA_PATH :', LOAD_DATA_PATH)
print('LOAD_DATA_FILE :', LOAD_DATA_FILE)

today = datetime.today().strftime('%Y-%m-%d')

data = yf.download(tickers='BTC-USD', start="2014-01-04", end=today)

LOAD_DATA_PATH : /Users/roman/projects/dvc_template/data/model_1/download
LOAD_DATA_FILE : raw_data.parquet

[*********************100%%**********************]  1 of 1 completed

In [5]:
data.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600
2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500
2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700
2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400
2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800

In [6]:
data.tail(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-10,60881.230469,61464.511719,60287.566406,60945.812500,60945.812500,15745822278
2024-08-11,60944.890625,61778.660156,58348.824219,58719.484375,58719.484375,22759754812
2024-08-12,58719.394531,60680.332031,57688.898438,59354.515625,59354.515625,37078637820
2024-08-13,59356.207031,61572.398438,58506.253906,60609.566406,60609.566406,30327698167
2024-08-14,60611.050781,61687.757812,58472.875000,58737.269531,58737.269531,29961696180
2024-08-15,58733.261719,59838.648438,56161.593750,57560.097656,57560.097656,35682112440
2024-08-16,57560.273438,59847.359375,57110.019531,58894.105469,58894.105469,29350938673
2024-08-17,58893.531250,59694.667969,58814.832031,59478.972656,59478.972656,13589684021
2024-08-18,59468.132812,60262.718750,58445.402344,58483.964844,58483.964844,17740625837
2024-08-19,58480.710938,59612.660156,57864.710938,59493.453125,59493.453125,25911207712

In [7]:
print('Summary Statistics:')
print(data.describe())

Summary Statistics:
               Open          High           Low         Close     Adj Close  \
count   3625.000000   3625.000000   3625.000000   3625.000000   3625.000000
mean   17475.957664  17874.370585  17049.488389  17491.084395  17491.084395
std    19343.152610  19778.446314  18863.156236  19351.732893  19351.732893
min      176.897003    211.731003    171.509995    178.102997    178.102997
25%     1117.270020   1156.439941   1099.569946   1120.540039   1120.540039
50%     9056.917969   9232.936523   8814.556641   9073.942383   9073.942383
75%    28699.802734  29244.281250  28189.271484  28719.806641  28719.806641
max    73079.375000  73750.070312  71334.093750  73083.500000  73083.500000

             Volume
count  3.625000e+03
mean   1.751963e+10
std    1.920644e+10
min    5.914570e+06
25%    2.755640e+08
50%    1.367953e+10
75%    2.828269e+10
max    3.509679e+11

In [8]:
print('Data Types:', data.dtypes)

Data Types: Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [9]:
p_data = pa.Table.from_pandas(data)
pq.write_table(p_data, Path(LOAD_DATA_PATH) / LOAD_DATA_FILE)