In [1]:
import os
from pathlib import Path

from hydra import initialize_config_dir, compose

with initialize_config_dir(version_base=None, config_dir=str(Path(os.get_exec_path()[0]).parent.parent / 'config')):

    cfg=compose(overrides= ["+models=model_1"])
    cfg = cfg['models']

    LOAD_DATA_PATH = cfg['load']['LOAD_DATA_PATH']
    LOAD_DATA_FILE = cfg['load']['LOAD_DATA_FILE']

In [2]:
from datetime import datetime
import yfinance as yf

today = datetime.today().strftime('%Y-%m-%d')
data = yf.download(tickers='BTC-USD', start="2015-01-02", end=today)

[*********************100%%**********************]  1 of 1 completed

In [3]:
data.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,314.079010,315.838989,313.565002,315.032013,315.032013,7860650
2015-01-03,314.846008,315.149994,281.082001,281.082001,281.082001,33054400
2015-01-04,281.145996,287.230011,257.612000,264.195007,264.195007,55629100
2015-01-05,265.084015,278.341003,265.084015,274.473999,274.473999,43962800
2015-01-06,274.610992,287.553009,272.696014,286.188995,286.188995,23245700
2015-01-07,286.076996,298.753998,283.079010,294.337006,294.337006,24866800
2015-01-08,294.135010,294.135010,282.174988,283.348999,283.348999,19982500
2015-01-09,282.382996,291.114014,280.532990,290.407990,290.407990,18718600
2015-01-10,287.303009,288.127014,273.966003,274.795990,274.795990,15264300
2015-01-11,274.608002,279.638000,265.039001,265.660004,265.660004,18200800

In [4]:
data.tail(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-13,59356.207031,61572.398438,58506.253906,60609.566406,60609.566406,30327698167
2024-08-14,60611.050781,61687.757812,58472.875000,58737.269531,58737.269531,29961696180
2024-08-15,58733.261719,59838.648438,56161.593750,57560.097656,57560.097656,35682112440
2024-08-16,57560.273438,59847.359375,57110.019531,58894.105469,58894.105469,29350938673
2024-08-17,58893.531250,59694.667969,58814.832031,59478.972656,59478.972656,13589684021
2024-08-18,59468.132812,60262.718750,58445.402344,58483.964844,58483.964844,17740625837
2024-08-19,58480.710938,59612.660156,57864.710938,59493.453125,59493.453125,25911207712
2024-08-20,59493.453125,61396.328125,58610.882812,59012.792969,59012.792969,31613400008
2024-08-21,59014.988281,61834.351562,58823.445312,61175.191406,61175.191406,32731154072
2024-08-22,61168.316406,61408.109375,59815.253906,60381.914062,60381.914062,27625734377

In [5]:
print('Summary Statistics:')
print(data.describe())

Summary Statistics:
               Open          High           Low         Close     Adj Close  \
count   3521.000000   3521.000000   3521.000000   3521.000000   3521.000000
mean   18032.095054  18443.438112  17592.617209  18047.965099  18047.965099
std    19430.298984  19867.946179  18949.167222  19439.155256  19439.155256
min      176.897003    211.731003    171.509995    178.102997    178.102997
25%     2233.520020   2320.820068   2145.570068   2255.610107   2255.610107
50%     9316.016602   9468.797852   9163.134766   9320.352539   9320.352539
75%    29278.314453  29688.564453  28929.609375  29282.914062  29282.914062
max    73079.375000  73750.070312  71334.093750  73083.500000  73083.500000

             Volume
count  3.521000e+03
mean   1.806251e+10
std    1.924416e+10
min    7.860650e+06
25%    9.374040e+08
50%    1.454523e+10
75%    2.879915e+10
max    3.509679e+11

In [6]:
print('Data Types:', data.dtypes)

Data Types: Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [7]:
import pyarrow as pa
import pyarrow.parquet as pq

p_data = pa.Table.from_pandas(data)
pq.write_table(p_data, Path(LOAD_DATA_PATH) / LOAD_DATA_FILE)