In [1]:
# %pip install pandas_datareader

In [2]:
# %pip install yfinance

In [3]:
# %pip install pyarrow

In [4]:
from dotenv import load_dotenv
load_dotenv()

import yfinance as yf
import pandas as pd
import numpy as np

import pyarrow as pa
import pyarrow.parquet as pq
from pathlib import Path

from datetime import datetime

import os

LOAD_DATA_PATH = os.environ.get("MODEL_1_LOAD_DATA_PATH")
LOAD_DATA_FILE = os.environ.get("MODEL_1_LOAD_DATA_FILE")

print('LOAD_DATA_PATH :', LOAD_DATA_PATH)
print('LOAD_DATA_FILE :', LOAD_DATA_FILE)

today = datetime.today().strftime('%Y-%m-%d')

data = yf.download(tickers='BTC-USD', start="2017-01-02", end=today)

LOAD_DATA_PATH : /Users/roman/projects/dvc_template/data/model_1/download
LOAD_DATA_FILE : raw_data.parquet

[*********************100%%**********************]  1 of 1 completed

In [5]:
data.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-02,998.617004,1031.390015,996.702026,1021.750000,1021.750000,222184992
2017-01-03,1021.599976,1044.079956,1021.599976,1043.839966,1043.839966,185168000
2017-01-04,1044.400024,1159.420044,1044.400024,1154.729980,1154.729980,344945984
2017-01-05,1156.729980,1191.099976,910.416992,1013.380005,1013.380005,510199008
2017-01-06,1014.239990,1046.810059,883.943970,902.200989,902.200989,351876000
2017-01-07,903.487000,908.585022,823.556030,908.585022,908.585022,279550016
2017-01-08,908.174988,942.723999,887.249023,911.198975,911.198975,158715008
2017-01-09,913.244019,913.685974,879.807007,902.828003,902.828003,141876992
2017-01-10,902.440002,914.872986,901.059998,907.679016,907.679016,115808000
2017-01-11,908.114990,919.447998,762.765015,777.757019,777.757019,310928992

In [6]:
data.tail(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-08-12,58719.394531,60680.332031,57688.898438,59354.515625,59354.515625,37078637820
2024-08-13,59356.207031,61572.398438,58506.253906,60609.566406,60609.566406,30327698167
2024-08-14,60611.050781,61687.757812,58472.875000,58737.269531,58737.269531,29961696180
2024-08-15,58733.261719,59838.648438,56161.593750,57560.097656,57560.097656,35682112440
2024-08-16,57560.273438,59847.359375,57110.019531,58894.105469,58894.105469,29350938673
2024-08-17,58893.531250,59694.667969,58814.832031,59478.972656,59478.972656,13589684021
2024-08-18,59468.132812,60262.718750,58445.402344,58483.964844,58483.964844,17740625837
2024-08-19,58480.710938,59612.660156,57864.710938,59493.453125,59493.453125,25911207712
2024-08-20,59493.453125,61396.328125,58610.882812,59012.792969,59012.792969,31613400008
2024-08-21,59014.988281,61834.351562,58823.445312,61175.191406,61175.191406,32731154072

In [7]:
print('Summary Statistics:')
print(data.describe())

Summary Statistics:
               Open          High           Low         Close     Adj Close  \
count   2789.000000   2789.000000   2789.000000   2789.000000   2789.000000
mean   22632.587663  23150.066237  22079.825898  22652.673152  22652.673152
std    19325.873180  19759.559144  18846.417418  19333.163296  19333.163296
min      775.177979    823.307007    755.755981    777.757019    777.757019
25%     7220.880859   7388.259766   7072.490234   7238.966797   7238.966797
50%    15864.099609  16317.808594  15202.799805  15838.500000  15838.500000
75%    36573.183594  37493.800781  34948.500000  36585.703125  36585.703125
max    73079.375000  73750.070312  71334.093750  73083.500000  73083.500000

             Volume
count  2.789000e+03
mean   2.277752e+10
std    1.898223e+10
min    6.085170e+07
25%    7.548550e+09
50%    2.012126e+10
75%    3.248331e+10
max    3.509679e+11

In [8]:
print('Data Types:', data.dtypes)

Data Types: Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [9]:
p_data = pa.Table.from_pandas(data)
pq.write_table(p_data, Path(LOAD_DATA_PATH) / LOAD_DATA_FILE)